.admin-container {
    padding: 20px;
  }
  
  .admin-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; /* Añadir margen superior a la tabla */
  }
  
  .admin-table th, .admin-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  
  .admin-table th {
    background-color: #f4f4f4;
  }
  
  .btn {
    padding: 10px 20px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px; /* Añadir margen inferior al botón */
  }
  
  .btn:hover {
    background-color: #004494;
  }