/* PrintForm.css */

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

.container {
  max-width: 1600px; /* Aumenta el ancho máximo del contenedor */
  margin: 11px auto;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between; /* Asegura que los elementos se distribuyan adecuadamente */
  gap: 20px;
}

.form-container {
  display: flex;
  flex-direction: row; /* Cambia la dirección a fila para que los elementos se coloquen uno al lado del otro */
  align-items: center; /* Centramos verticalmente los elementos */
  justify-content: space-between; /* Espaciamos los elementos */
  width: 100%;
}

.form-box {
  flex: 1;
  max-width: 800px; /* Aumenta el ancho máximo del cuadro de formulario */
}

.pdf-preview-container {
  flex: 1;
  min-width: 450px; /* Aumenta el ancho mínimo del contenedor de previsualización */
  margin-left: 20px; /* Añade margen a la izquierda para separar del formulario */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; /* Centramos el texto */
}

h2 {
  margin-bottom: 10px;
  text-align: center;
}

/* Estilos de formulario */
.form-group {
  margin-bottom: 25px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="file"],
input[type="text"],
input[type="number"],
select,
button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="file"] {
  display: none;
}

.custom-file-input {
  display: flex;
  justify-content: center;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Estilos de previsualización PDF */
.pdf-preview {
  width: 100%;
  height: 550px; /* Aumenta la altura del cuadro de previsualización */
  border: 1px solid #ccc;
  border-radius: 30px;
}

/* Estilos de filas de formulario */
.form-row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}

.form-row .form-group {
  flex: 1;
  min-width: 200px;
}

#preview-button-container {
  margin-top: 10px;
}

/* Estilos de encabezado */
.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px; /* Añade un margen inferior */
}

/* Responsive design */
@media (max-width: 768px) {
  .header-row {
    flex-direction: column;
    align-items: flex-start;
  }
}

/* Estilos de grupo de botones */
.button-group {
  display: flex;
  flex-direction: column;
}

.button-group button {
  margin-bottom: 0;
}

.button-group button + button {
  margin-top: 0;
}

/* Nuevo estilo para el botón de cerrar sesión */
button.btn-logout {
  background-color: #dc3545; /* Color rojo */
  color: white;
  width: 150px; /* Ancho más pequeño */
  padding: 10px;
  margin: 0 auto;
  display: block;
}

button.btn-logout:hover {
  background-color: #c82333; /* Rojo más oscuro en hover */
}
